<div class="profile-container">

    <h1 class="text-center">Novo produto</h1>
    <h6 class="text-center text-muted">O lugar perfeito para cadastrar um novo produto!</h6>

    <br>
    <div class="card">
        <div class="card-body">
            <%= render 'form' %>

            <br>
            <%= link_to 'Voltar', products_path, class: "btn btn-block btn-light" %>
        </div>
    </div>
</div>
